.chat-stream{
    height: 66vh;

    background-color: hotpink;
    border: 5px solid black;

    display: flex;
    align-items: flex-end;

    overflow: hidden;
}

h1{
    background-color: white;
    border: 5px solid black;
}

div{
    background-color: black;
    border: 5px solid black;
}